<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue</title>
	<style>
		[v-cloak]{
			display: none;	
		}
		
		table{
			width: 800px;
			border-collapse: collapse;
			margin: 20px auto;
			box-sizing:border-box;
		}
		table th{
			background-color: #0094ff;
			color:white;
			font-size: 16px;
			padding: 5px;
			text-align: center;
			border: 1px solid black;
			box-sizing:border-box;
		}
		table td{
			padding: 5px;
			text-align: center;
			border: 1px solid black;
			box-sizing:border-box;
		}
	</style>
</head>
<body>
<div id="vuee">
	<!-- <div v-text="name"></div>
	<div v-html="name"></div>
	<div v-cloak>{{name}}</div>
	<input type="text" v-model="name"><br>
	<a v-bind="{href:'#/asds'+id}">aaaa</a><br>
	<button v-on:click="ccc">点一下</button>
	<ul>
		<li v-for="item in list" track-by="$index">{{item}}</li>
	</ul>
	<form @ccc.prevent action="#">
		<button @click="ccc"></button>
	</form> -->
	<table>
		<tr>
			<th>编号</th>
			<th>产品编码</th>
			<th>名称</th>
			<th>创建时间</th>
			<th>操作</th>
		</tr>
		<tr v-show="list.length==0">
			<td colspan="5">没有任何数据</td>
		</tr>
		<!-- vue 1.0 -->
		<tr v-for="item in list | filterBy sname in 'name'" track-by="$index">
		<!-- vue 2.0 -->
		<!-- <tr v-for="(item,index) in list"> -->
			<td v-cloak>{{$index-0+1}}</td>
			<td v-cloak>{{item.id}}</td>
			<td v-cloak>{{item.name}}</td>
			<td v-cloak>{{item.ctime}}</td>
			<td v-cloak @click="del($index)">删除</td>
		</tr>
	</table>
		编号: <input type="text" v-model="id"><br>
		名称: <input type="text" v-model="name"><br>
		<button @click="addcc">添加数据</button><br>
		<input type="text" placeholder="筛选条件" v-model="sname">
</div>
</body>
<!-- <script src="vue221.js"></script> -->
<script src="vue1026.js"></script>
<script>
	var vw= new Vue({
		el:"#vuee",
		data:{
			list:[
			{id:1,name:"asd",ctime:new Date}
			],
			id:0,
			name:""	
		},
		methods:{
			// ccc:function(){
			// 	this.name="haha";
			// 	alert("hoho")
			// }
			addcc:function(){
				if(this.id==0||this.name==""){
					return;
				}
				var a = {
					id:this.id,
					name:this.name,
					ctime:new Date,
				}
				this.list.push(a);
				console.log(this.list)
				this.id=0;
				this.name="";
			},
			del:function(index){
			if(!confirm('是否要删除数据?')){
				return;
			}
				this.list.splice(index,1)
				// console.log(id);
			},
			filters:{
				datefmt:function(input){
					var res="";
					var a = input.getFullYear();
					var b = input.getMouth()+1;
					var c = input.getDate();
					res=a+"-"+b+"-"+c;
					return res;
				}
			}
		}
	})
</script>
</html>